<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bread Shop - Order</title>

    <style>
        html,
        body {
        background: #26262b;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 1.15;
        }

        .txt {
            text-align: center;
            color: white
        }
    </style>
</head>
<body style="overflow:hidden;"> <!-- 스크롤 없애는 코드, 삭제 금지-->
    <form action="/post" method="post">
        <div class='txt'>
            <h1>Bread Shop - 주문 페이지</h1>
        </div>

        <br>

        <div class='txt'>
            <h2>빵의 종류</h2>
            <p>1. 케이크 (주문 제작 등 다수의 코드 파일)</p>
            <p>2. 빵 (1개의 코드 파일)</p>
            <p>3. 쿠키 (일정의 코드)</p>
        </div>
        <div class='txt'>상품 종류와 원하는 기능을 자세히 작성해주세요.<br><input type="text" name="applyorder"></div>
        <br>
        <input type="submit" value="제출하기">

    </form>
</body>
</html>